<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Freetunnel</h1>
    <ul>
        {{#each requests}}
            <li><a href="/view/{{@index}}">{{this.url}} - {{this.method}} - {{this.time}}</a> <form method="post" action="/view/{{@index}}"><input type="submit" value="Resend"></form></li>
        {{/each}}
        <li></li>
    </ul>
</body>
</html>