<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>FreeTunnel</title>
  </head>
  <body>
      <h1>Freetunnel</h1>
      <ul>
          <% requests.forEach((request, index) => { %>
              <% if (!request.url.includes('.js') && !request.url.includes('.css')) { %>
                  <li>
                      <a href="/view/<%=index%>"><%=`${request.url} - ${request.method} - ${request.time}`%></a>
                      <form method="post" action="/view/<%=index%>">
                          <input type="submit" value="Resend">
                      </form>
                  </li>
              <% } %>
          <% }); %>
          <li></li>
      </ul>
  </body>
</html>